.container {
    display: flex;
    justify-content: space-evenly;
    margin: 25px;
}

.home {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-1 {
    color: rgb(224, 11, 11);
    font-size: 40px;
}

.h-2 {
    color: darkblue;
    font-size: 40px;
}

.client-review {
    font-size: 40px;
    margin-left: 40%;
    font-weight: 500;
    color: brown;
}

.btn {
    margin-left: 20%;
    margin-bottom: 10%;
    text-decoration: none;
    background-color: cadetblue;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 10px;
    color: aliceblue;
    font-weight: bold;
}

.btn-2 {
    text-align: center;
    width: 20%;
    padding: 10px;
    font-weight: bolder;
    margin-left: 40%;
    
    background-image: linear-gradient(darkblue, rgb(71, 47, 47));
    color: white;
    font-weight: 900;
}

.review-3 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin: 20px;
    padding: 15px;
    border: 5px solid aqua;
    background-image: linear-gradient(cyan, olive);    
    text-align: center;
   

    color: rgb(51, 40, 8);
    text-shadow:
        0 0 7px rgb(223, 199, 199),
        0 0 10px rgb(218, 203, 203),
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;

}


